<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Login.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForPass</servlet-name>
        <servlet-class>Login.ForPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forcodecheck</servlet-name>
        <servlet-class>Login.forcodecheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadPostAdmin</servlet-name>
        <servlet-class>post.uploadPostAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadPostAlumni</servlet-name>
        <servlet-class>post.uploadPostAlumni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAlumni</servlet-name>
        <servlet-class>database.editAlumni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAdmin</servlet-name>
        <servlet-class>database.editAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>database.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserPost</servlet-name>
        <servlet-class>post.deleteUserPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAdminPost</servlet-name>
        <servlet-class>post.deleteAdminPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportPostServlet</servlet-name>
        <servlet-class>post.reportPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteReportedPostServlet</servlet-name>
        <servlet-class>post.deleteReportedPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatServlet</servlet-name>
        <servlet-class>database.chatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openSearchedServlet</servlet-name>
        <servlet-class>database.openSearchedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUserDivServlet</servlet-name>
        <servlet-class>database.searchUserDivServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ignoreReportedPostServlet</servlet-name>
        <servlet-class>post.ignoreReportedPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForPass</servlet-name>
        <url-pattern>/ForPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forcodecheck</servlet-name>
        <url-pattern>/forcodecheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadPostAdmin</servlet-name>
        <url-pattern>/uploadPostAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadPostAlumni</servlet-name>
        <url-pattern>/uploadPostAlumni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAlumni</servlet-name>
        <url-pattern>/editAlumni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAdmin</servlet-name>
        <url-pattern>/editAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserPost</servlet-name>
        <url-pattern>/deleteUserPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAdminPost</servlet-name>
        <url-pattern>/deleteAdminPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportPostServlet</servlet-name>
        <url-pattern>/reportPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteReportedPostServlet</servlet-name>
        <url-pattern>/deleteReportedPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatServlet</servlet-name>
        <url-pattern>/chatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openSearchedServlet</servlet-name>
        <url-pattern>/openSearchedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUserDivServlet</servlet-name>
        <url-pattern>/searchUserDivServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ignoreReportedPostServlet</servlet-name>
        <url-pattern>/ignoreReportedPostServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
