body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
.header{
    position: static;
    padding: 35px;
    background-color: #006666;
}
.left{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33.33%;
    height: 70px;
    display: inline-block;
}

.logo{
    position: absolute;
    left: 100px;
    top: 0px;
    padding: 10px;
    height: 50px;
    width: 67px;
}

.logo img{
    height: 50px;
    border-radius: 25%;
}

.center{
    position: absolute;
    left: 33.33%;
    top: 0px;
    width: 33.33%;
    height: 70px;
    display: inline-block;
}

.center .home{
    position: absolute;
    top: 10px;
    left: 43%;
}

.home img{
    height: 50px;
    filter: invert(100%);
}

.home img:hover{
    height: 50px;
    filter: invert(80%);    
}

.right{
    position: absolute;
    right:0px;
    top:0px;
    width: 33.33%;
    height: 70px;
    display: inline-block;
}

.message{
    position: absolute;
    right: 40%;
    top: 15px;
    padding-right: 20px;
}

.message img{
    height: 40px;
    filter: invert(100%);
}

.message img:hover{
    filter: invert(80%);    
}

.profile{
    position: absolute;
    right: 30%;
    top: 15px;
    padding-right: 20px;
}

.profile img{
    height: 40px;
    filter: invert(100%);
}

.profile img:hover{
    filter: invert(80%);    
}

.logout{
    position: absolute;
    right: 20%;
    top: 15px;
    padding-right: 20px;
}

.logout img{
    height: 37px;
    filter: invert(100%);
}

.logout img:hover{
    filter: invert(80%);    
}


/*chatarea*/

.chatarea{
    position: absolute;
    height: 90%;
    width: 100%;
    border-top: 1px solid white;
    background-color: #006666;
}

.leftarea{
    position: absolute;
    left: 8%;
    width: 25%;
    height: 100%;
    background-color: #117a7a;
    border-bottom: 1px solid gray;
}
/* Search*/

.search{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid gray;
}

#search{    
    position: absolute;
    top: 20%;
    left: 13%;
}

.search input{
    height: 20%;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    color: white;
}

#search{
    padding-left: 10px;
    width: 80%;
}

#batch{    
    width: 20%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 13%;
}

.dropdown{
    position: absolute;
    top: 50%;
    left: 40%;
    height: 24%;
    width: 20%;
}

/* Dropdown Content (Hidden by Default) */
#select{
    height: 94%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    border-radius: 10px;
}

.option{
    background: gray;
    align-content: center;
}

.search button{
    position: absolute;
    border-radius: 25px;
    border-color: white;
    outline: none;
}

.search .srch{
    height: 24%;
    width: 20%;
    left: 79%;
    top: 50%;
    overflow: hidden;
}

.srch:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.search input[type=text]:focus::placeholder {
  color: transparent;
}

.search input[type=text]:focus ,input[type=text]:hover {
    background: rgba(0,0,0,0.1);
}

.search input[type=text]::placeholder{
    color: white;
    text-align: center;
}

.searchResult{
    position: absolute;
    top: 16%;
    width: 100%;
    height: 50%;
    background-color: #117a7a;
    z-index: 10;
    display: none;
    overflow-y: scroll;
}

.searchResult .resultContainer{
    position: relative;
    float: none;
    height: 20%;
    width: 100%;
    clear: both;
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid gray;
}

.resultContainer .ppic{
    position: absolute;
    top:10%;
    left:5%;
    height: 80%;
    width: 14%;
}

.ppic img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.resultContainer .name{
    position: absolute;
    bottom: 50%;
    left: 25%;
    height: 25%;
    width: 50%;
    font-size: 16px;
    color: white;
}

.resultContainer .data{
    position: absolute;
    bottom: 20%;
    left: 25%;
    height: 25%;
    width: 50%;
    font-size: 16px;
    color: white;
}

.resultContainer .viewButton{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 10%;
}

.resultContainer .chatButton{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 10%;
}

.recent{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.recent .container{
    position: relative;
    float: none;
    height: 12%;
    width: 100%;
    clear: both;
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid gray;
}

.recent .container:hover{
    background-color: rgba(0,0,0,0.2);
}

.container .profilepic{
    position: absolute;
    top:10%;
    left:5%;
    height: 80%;
    width: 14%;
}

.profilepic img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container .Uname{
    position: absolute;
    top: 30%;
    left: 25%;
    height: 40%;
    width: 70%;
    color: white;
}

.rightarea{
    position: absolute;
    left: 35%;
    width: 57%;
    height: 100%;
    background-color: #117a7a;
    z-index: 10;
    display: none;
}

.top{
    position: absolute;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid white;
}

.photo{
    position: absolute;
    top: 10%;
    left: 2%;
    height: 80%;
    width: 6.5%;
}

.photo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 8px 0px;
    height: 40%;
    width: auto;
    color: white;
    font-size: 18px;
}

.chat{
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    border-bottom: 1px solid white;
    overflow-y: auto;
}

.messag{
    background-color: #d8adad;
    width: auto;
    max-width: 70%;
    height: auto;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid;
    border-radius: 8px;
    word-wrap: break-word;
}

.lft{
    float: left;
    clear: both;
}
.rght{
    float: right;
    clear: both;
}

.timelable{
    position: relative;
    bottom: -7px;
    right: -7px;
    text-align: right;
    font-size: 10px;
}

.txt{
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
}

.txt input[type=text]{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 25px;
    width: 80%;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding-left: 15px;
    outline: none;
}

.txt input[type=text]::placeholder{
    color: white;
}

.txt input[type=text]:focus::placeholder{
    color: transparent;
}

.txt input[type=text]:focus ,input[type=text]:hover {
    background: rgba(0,0,0,0.1);
}

.txt input[type=button]{
    position: absolute;
    top: 30%;
    right: 5%;
    height: 28px;
    width: 55px;
    border-radius: 25px;
    border-color: white;
    outline: none;
}

.txt input[type=button]:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
}









::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}​
